<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="./images/favicon.ico">
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header>
                <h1><a href="./">Neil Ashton</a></h1>
                <a href="./" style="text-decoration:none"><div class="circle">&nbsp;</div></a>
                <ul class="nav">
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./portfolio.html">Portfolio</a></li>
                </ul>
            </header>

            <article>
                $body$
            </article>

            <footer>
                <ul>
                    <li><a href="mailto:neil.m.ashton@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="http://github.com/nmashton/"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://www.linkedin.com/in/nmashton/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://twitter.com/nmashton/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/u/1/101129936782834527956/"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </footer>
        </div>  
    </body>
</html>
